name: Send dispatch to outside repo and wait for result

on:
  pull_request:
    branches: [main]

jobs:
  send-dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger CI run
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          # script: |
          #   await github.rest.actions.createWorkflowDispatch({
          #     owner: 'ubercj',
          #     repo: 'ci-practice',
          #     workflow_id: 'get_dispatch.yml',
          #     ref: 'main'
          #   })
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'ubercj',
              repo: 'ci-practice',
              event_type: 'sample-dispatch',
              client_payload: {
                PR_SHA: "${{ github.event.pull_request.head.sha }}"
              }
            })