name: Send dispatch to outside repo and wait for result

on:
  workflow_dispatch:

jobs:
  send-dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: 'ubercj',
              repo: 'ci-practice',
              workflow_id: 'get_dispatch.yml',
              ref: 'main'
            })

            console.log(result)